h1{
    border-bottom: 1px dotted;
}


a:active{
    color:rgb(84, 84, 84);
}

a:visited{
    color:gray;
}

a{
    text-decoration: none;
}


img{
    display: flex;
}

span{
    background-color: rgb(147, 147, 147);
    padding: 2px;
    border-radius: 5px;
}



