/* comments in css */


/* Syntax:
selector{
    property1: value1;
    property1: value1;
}
 */

p{
    border: 1px solid greenyellow;
    background: lightgoldenrodyellow;
    border-radius: 5px;
    padding: 5px;
}


a{
    text-decoration: none;
    font-family: monospace;
    color: rgb(246, 32, 75);
    padding: 10px;
    border: 1px solid rgb(100, 170, 255);
    background-color: rgb(100, 170, 255);
    margin: 10px 5px;
}