*{
    background: #f5f0e8;      
    color: #2c1810;           
    accent: #8b4513;          
    border-color: #d4a96a;    
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    border: 1px solid;
    border-radius: 5px;
    padding: 4px;
    align-items: center;
    justify-content: space-between;
}

#logo{
    margin: 0px;
}


ul{
    display: flex;
    list-style: none;
    gap: 5px;
    font-weight: bold;
}


section{
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    margin-top: 5px;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

#hero{
    display: flex;
    flex-direction: column;
}
#title{
    align-self: flex-start;
    padding-left: 10px;
}

#description{
    font-size: 25px;
}

#content{
    display: flex;
    padding: 5px;
    gap: 5px;
}

#card{
    flex: 1 1 250px;
    border: 1px solid;
    border-radius: 5px;
    flex-shrink: 0;
}

footer{
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 5px;

}

a{
    text-decoration: none;
}

a:link, 
a:visited{
    color: gray;
}

a:active{
    color:rgb(90, 90, 90);
}